<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Currency caculator</title>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
</svg>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="currencystyle.css">
</head>
<body>

<div class="container">
	<div class="currency">
		<select id="from_currency">
			<option value="AUD">AUD</option>
			<option value="CNY">CNY</option>
			<option value="EUR">EUR</option>
			<option value="HKD">HKD</option>
			<option value="JPY">JPY</option>
			<option value="KRW">KRW</option>
			<option value="TWD">TWD</option>
			<option value="USD" selected>USD</option>

		</select>
		<input type="number" id="from_ammount" placeholder="0" value=1 />
	</div>
	<div class="middle">
		<button id="exchange"><i class="bi bi-chevron-bar-expand"></i></button>
		<div class="rate" id="rate"></div>
	</div>
	<div class="currency">
		<select id="to_currency">
			<option value="AUD">AUD</option>
			<option value="CNY">CNY</option>
			<option value="EUR">EUR</option>
			<option value="HKD" selected>HKD</option>
			<option value="JPY">JPY</option>
			<option value="KRW">KRW</option>
			<option value="TWD">TWD</option>
			<option value="USD">USD</option>
		</select>
		<input type="number" id="to_ammount" placeholder="0" />
	</div>
</div>
  <script  src="currencycal.js"></script>

</body>
</html>