<!DOCTYPE html>
<html>
<head>
	<title>GoEyeGo</title>
	<link href="{{url_for('static', filename='favicon.jpg')}}" rel="shortcut icon" type="image/jpg" sizes="720x720">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}">
	<!--jquery-->
	<script src="js/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="welcome">
		<marquee direction=right><h3> Notice <img src="{{url_for('static', filename='Notice.png')}}" alt="Notice logo" width="20px" height="20px"><i> Welcome to One-Stop Travel Information Site</i><STRONG><a href="index.html"> GoEyeGo </a></STRONG><b><em>Hope you enjoy yourself!</em></b></h3></marquee>
	</div>	
	<nav>
		<br>
		<label class="logo"><a href="index.html"><img src="{{url_for('static', filename='favicon.jpg')}}" alt="GoEyeGo image" width="160px" height="160px"></a></label>
	<!--Go to Home Page-->
		<ul>
			<!--Go to Home Page-->
			<li><a class="active" href="index.html">Home</a></li>				
			<!--Currrent news realted travel such as, COVID-19-->
			<li><a href="news.html">News</a></li>
			<!--Dropdown list for food, shopping, famous travelspot, etc-->		
			<!--blockquote>Information</blockquote-->
			<!--Currency Tool-->
			<li><a href="currency.html">Currency</a></li>
			<!--Information Dropdown List: Hotel and Flight-->
			<li>
				<div class="dropdown">
  					<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				Information
  					</button>
  					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    					<a class="dropdown-item" href="hotel.html">Hotel</a>
    					<a class="dropdown-item" href="filght.html">Flight</a>
    					<a class="dropdown-item" href="books">Books</a>
  					</div>
				</div>		
			</li>	
			<!--Log-in to share your travel-->		
			<li><a href="#">Blog</a></li>
			<!--Hotel Links-->
			<li><a href="contactus.html">Contact Us</a></li>
			<br>
			<h3 align="right"><blockquote><a href="login.html">Log In</a></blockquote></h3>
		</ul>
	</nav>
	</div>
	<div class="body">
		<br>
		<h1><i>Travelling News</i></h1>
		<h2><i>Latest news related to travelling</i></h2>
		<div class="One">
			<h6><em>Updated on 8th April 2021</em></h6>
		</div>
		<p>Easy Read here~</p>
		<iframe src="https://www.breakingtravelnews.com/" width="100%" height="400" name="travelnews1" id="travelnews1"></iframe>
		<br>
		<h3><a href="https://www.breakingtravelnews.com/" target="travelnews1">BREAKING TRAVEL NEWS</a></h3>
		reference from: Breaking Travel News
		<br>
		<h3><a href="{{url_for('static', filename='journal01.txt')}}" target="travelnews1">GOEYEGO - MR.ABC</a></h3>
		GOEYEGO WRITTER: MR.ABC
		<br>
		<h3><a href="https://www.trip.com/travel-guide/" target="travelnews1">TRIP.COM</a></h3>
		reference from: Trip.com
		<br><br><br>
		<h2>Other News</h2>
		<iframe src="https://www.breakingtravelnews.com/" width="100%" height="400" name="travelnews2" id="travelnews2"></iframe>
		<br>
		<h3><a href="https://www.breakingtravelnews.com/" target="travelnews1">BREAKING TRAVEL NEWS</a></h3>
		reference from: Breaking Travel News
		<br>
		<h3><a href="{{url_for('static', filename='journal01.txt')}}" target="travelnews1">GOEYEGO - MR.ABC</a></h3>
		GOEYEGO WRITTER: MR.ABC
		<br>
		<h3><a href="https://www.trip.com/travel-guide/" target="travelnews1">TRIP.COM</a></h3>
		reference from: Trip.com
		</div>
	</div>	
	</div>
</body>
	<!--footer-->
	<footer class="page-footer font-small blue pt-4">

		<!--Footer Links-->
		<div class="container-fluid text-center text-md-left">
			<!--Grid row-->
			<div class="row">
				<!-- Grid column-->
				<div class="col-md-6 mt-md-0 mt-3" >
					<!--content-->
					<h5 class="text-uppercase">More</h5>
					<p>Here you can use fast links to read more, enjoy!</p>			
				</div>
				<!--Grid Column-->
				<hr class="clearfix w-100d-md-none pb-3">

				<!--Grid Column-->
				<div class="col-md-3 mb-md-0 mb-3">

					<!--Links-->
					<h5 class="text-uppercase">Recommed Countries</h5>

					<ul class="list-unstyled">
						<li><a href="https://www.discoverhongkong.com/us/index.html">Hong Kong</a></li>
						<li><a href="https://www.japan.travel/en/">Japan</a></li>
						<li><a href="https://www.hawaiitourismauthority.org/">Hawaii</a></li>
						<li><a href="https://english.visitkorea.or.kr/enu/index.kto">Korea</a></li>					
					</ul>				
				</div>
				<!--Grid Column-->
				<div class="col-md-3 mb-md-0 mb-3">

					<!--Links-->
					<h5 class="text-uppercase">Useful links</h5>

					<ul class="list-unstyled">
						<li><a href="https://www.who.int/home">World Health Organization</a></li>
						<li><a href="https://www.un.org/en">United Nations</a></li>
						<li><a href="https://www.scmp.com/topics/travel-news-and-advice">South China Morning Post - Travel news</a></li>
						<li><a href="https://www.wtravelmagazine.com/">World Travel</a></li>				
					</ul>				
				</div>
				<!--end Grid Column-->
			</div>
			<!--End Grid row-->
		</div>
	</footer>
	<!--End Footer Links-->
	<!--Copyright-->
	<div class="footer-copyright text-center py-3">@ 2021 Copyright: Chan Yik Kit <a href="#"><b>GoEyeGo</a>.com</b>
	</div>			
</body>
</html>