<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initaial-scale=1.0"/>
	<title>Table</title>
</head>
<body>
	<table>
		<tr>
			<th>Name</th>
			<th>password</th>
			<th>phonenumber</th>
			<th>email</th>
			<th>gender</th>
			<th>region</th>
		</tr>
		<tr>
			<td>123</td>
			<td>123</td>
			<td>12345678</td>
			<td>123@1234.com</td>
			<td>Male</td>
			<td>Hong Kong</td>
		</tr>
	</table>

</body>
</html>